// Default Color (Light) Mode
:root {
  --primaryColor: rgba(39, 190, 213, 1);
  --primaryColorDarker: rgba(30, 150, 168, 1);

  --bgColor: rgba(255, 255, 255, 1);

  --scrollbarColor: rgba(228, 228, 228, .8);

  --navbarColor: rgba(255, 255, 255, 1);
  --navbarBorder: 1px solid rgba(228, 228, 228, 1);

  --navItemColor: rgba(51, 51, 51, .6);
  --navItemActive: var(--primaryColor);
  --navItemBgHover: var(--primaryColor);

  --textColor: rgba(51, 51, 51, 1);
  --textColorInverted: rgba(255, 255, 255, 1);
  --grayedOut: rgba(78, 78, 78, 1);

  --inputBorder: 1px solid rgba(228, 228, 228, 1);

  // Same in both themes
  --alertInfo: rgba(40, 143, 235, 1);
  --alertError: rgba(207, 39, 30, 1);
  --alertSuccess: rgba(122, 193, 66, 1);
  --alertWarning: rgba(255, 195, 36, 1);
}


// Dark Mode -- Pode descomentar, mas não testei nesse projeto :P
// @media (prefers-color-scheme: dark) {
//   :root {
//     --primaryColor: rgb(131, 194, 210); // rgba(196, 218, 240, 1)

//     --bgColor: rgba(51, 51, 51, 1);

//     --scrollbarColor: rgba(51, 51, 51, 1);

//     --navbarColor: transparent; // rgba(40, 40, 40, 1);
//     --navbarBorder: 1px solid rgba(58, 66, 79, 1);
//     --navbarIconColor: rgba(255, 255, 255, 1);
//     --navbarIconColorAlt: rgba(40, 40, 40, 1);

//     --navColor: rgba(255, 255, 255, .5);
//     --navColorHover: rgba(255, 255, 255, .8);

//     --textColor: rgba(255, 255, 255, 1);
//     --grayedOut: rgba(169, 169, 169, 1);
//   }
// }
