// TODO: Move to table style
.actionBar {
  .button {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    border: 1px solid transparent;

    &:hover {
      border-color: #000;
    }
  }
}

// TODO: Move to table style
.tableActions {
  > button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    svg {
      height: 1.8rem;
    }

    &:hover {
      background-color: #f2f2f2;
      border-color: #000;
    }
  }
}

button,
.button {
  height: 4rem;
  border-radius: 4px;
  border: 0;
  @include transition();

   > span {
    margin-left: 1rem;
   }

  &:hover {
    @include transition();
  }

  &:active,
  &:focus {
    outline: 0;
  }

  // Modifiers
  // Full Width
  &.btn-Full {
    width: 100%;
  }

  // Types
  &.btnPrimary {
    background-color: var(--primaryColor);
    color: var(--textColorInverted);

    &:hover {
      background-color: var(--primaryColorDarker);
    }
  }

  &.btnGhost {
    border: 1px solid var(--primaryColor);
    background-color: transparent;

    &:hover {
      border-color: var(--primaryColorDarker);
    }
  }

  &.btnAdd {
    fill: var(--successColor); // TODO: Create a Add Color
  }

  &.btnDestroy {
    &:hover {
      background-color: var(--errorColor);
      color: var(--textColorInverted);
      fill: var(--textColorInverted);
      @include transition();
    }
  }

  // States
  &.isLoading {
    background-color: #ccc; // TODO: Get from vars
    pointer-events: none;
  }

  &.disabled {
    background-color: #ccc; // TODO: Get from vars
    pointer-events: none;
  }
}
