html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100vh;
  background: var(--bgColor);
  background-attachment: fixed;
  color: var(--textColor);
  scrollbar-color: var(--scrollbarThumbColor) var(--bgColor); // <Thumb> <Track> -- Browser Customizations
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: ease all .3s;
}
// Scrollbar for Firefox 64+
// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#Browser_compatibility
// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#Browser_compatibility

body {
  height: 100vh;
  max-height: 100vh;
  font-size: 1.6rem;
}

// Browser Customizations
// Scrollbar for Chrome
// https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollbarColor);
    border-radius: 3px;
}

// Handle
::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumbColor);
    border-radius: 10px;

  &:hover {
      background: rgb(110, 110, 110);
  }
}

::-webkit-scrollbar-track-piece {
    // not handle on
    background: var(--scrollbarColor);
}

* {
  scrollbar-width: thin;  // Browser Customizations
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

a {
  color: var(--textColor, #000000);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;

  &.contentList {
    justify-content: flex-start;
    text-align: left;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(100% - 4rem);
  height: 100%;
  margin: 2rem;
  padding-top: 5rem; // Get from vars (and navbar height)
  animation: fadeIn 1s ease-in;

  &.pageForm {
    align-items: center;
  }

  .w-50 {
    width: 50%;
  }
}

// @media (max-width: 1024px) {
//   .page {
//     flex-direction: column;
//   }
// }

@media (max-width: 1024px) {
  .content {
    margin-left: 0;
    width: 100vw;
  }
}

// Utils
.isHidden {
  opacity: 0;
  height: 0;
  width: 0;
  animation: fadeIn 1s;
}
